
/*
 *  Override Bootstrap's defaults.
 */

h1, .h1,
h2,
h3, .h3,
h4,
h5,
h6 {
    margin-top: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.42857143;
    color: #333;
}

/*@media (max-width: 768px) {
    .container {
        margin: 1.5em;
        width: 100%;
    }
}

@media (max-width: 992px) {
    .container {
        margin: 7em;
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .container {
        margin: 10em;
        width: 100%;
    }
}*/

.top {
    padding: 0;
    margin: 0;
    width: 100%;
}
/*
 *  Blog CSS
 */

.navi {
    background-color: #2cbc65;
    height: 12em;
    overflow: hidden; /* 'clear' floats */
    padding-top: 4.5em;
}

a {
    color: #333;
}

.righty {
    margin-right: 3em;
    float: right;
}

.lefty {
    margin-left: 3em;
    float: left;
    font-weight: 900;
}

.blocker {
    height: 15em;
    padding-top: 2em;
    border-radius: 10px;
    border-color: #333;
    border-style: dotted;
}

.blocker:hover {
    background-color: black;
    color: white;
}

.format {
    margin-top: 6em;
    margin-left: 6em;
    margin-right: 6em;
}
