
/*
 *  Override Bootstrap's defaults.
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

@media (max-width: 768px) {
    .container {
        margin: 1.5em;
        width: 100%;
    }
}

@media (max-width: 992px) {
    .container {
        margin: 7em;
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .container {
        margin: 10em;
        width: 100%;
    }
}

.top {
    padding: 0;
    margin: 0;
    width: 100%;
}
/*
 *  Blog CSS
 */

.navi {
    background-color: #2cbc65;
    height: 12em;
    overflow: hidden; /* 'clear' floats */
}

.righty {
    margin-right: 3em;
    float: right;
}

.lefty {
    margin-left: 3em;
    float: left;
}

.blocker {
    height: 15em;
}

.blocker:hover {
    background-color: black;
}

.format {
    margin-top: 6em;
    margin-left: 6em;
    margin-right: 6em;
}


textarea {
    resize: none;
}
