{% extends 'base.html' %}

{% block content %}

<div class="">
{% for o in object_list %}
    <a href="{{ o.get_absolute_url }}">
        <div class="col-md-4 blocker">
            <h4 style="font-weight:bold;">{{o.title}}</h4>
            <br />
            <br />
            <p>
                {{ o.body | truncatewords:25 }}
            </p>
        </div>
    </a>
{% endfor %}
</div>
<div class="footy">
    <ul class="pagination">
      <li>
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}">
            prev
          </a>
        {% else %}
          <span>prev</span>
        {% endif %}
      </li>

      {% for page_number in paginator.page_range %}
        {% if page_number = page_obj.number %}
          <li class="active">
            <span>{{ page_number }}</span>
          </li>
        {% else %}
          <li>
            <a href="?page={{ page_number }}">
              {{ page_number }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
      <li>
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">
            next
          </a>
        {% else %}
          <span>next</span>
        {% endif %}
      </li>
    </ul>
</div>
{% endblock %}
